.Rocket-card {
    width: 18rem;
    padding: 1rem;
    margin-bottom: 15px;
    border-radius: 10px;
}

.Rocket-image {
    background-color: gray;
}

.Rocket-name-flight-number {
    color: #63659f;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1rem;
}

.Rocket-label {
    color: #181818;
    font-size: 18px;
    font-weight: 500;
}

.Rocket-value {
    color: #63659f;
    font-weight: 400;
}